<div class="bg-red-50 py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-3xl px-8 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">プライバシーポリシー</h2>
    <div class="mx-auto max-w-6xl rounded-lg border bg-white">
    <div class="px-4 py-5 sm:p-6">
    <p class="text-base text-gray-800">あんこねくと（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。

    </p>

    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第1条（個人情報）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
    </div>

    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第2条（個人情報の収集方法）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">本サービスは，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,当社の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。</p>
    </div>

    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第3条（個人情報を収集・利用する目的）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">当社が個人情報を収集・利用する目的は，以下のとおりです。</p>
      <div class="pl-10">
        <p class="mt-2 text-base text-gray-800">1. 当社サービスの提供・運営のため</p>
        <p class="mt-2 text-base text-gray-800">2. ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</p>
        <p class="mt-2 text-base text-gray-800">3. ユーザーが利用中のサービスの新機能，更新情報，キャンペーン等及び当社が提供する他のサービスの案内のメールを送付するため</p>
        <p class="mt-2 text-base text-gray-800">4. メンテナンス，重要なお知らせなど必要に応じたご連絡のため</p>
        <p class="mt-2 text-base text-gray-800">5. 利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</p>
        <p class="mt-2 text-base text-gray-800">6. ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</p>
        <p class="mt-2 text-base text-gray-800">7. 上記の利用目的に付随する目的</p>
      </div>
    </div>

    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第4条（利用目的の変更）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">1. 本サービスは，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">2. 利用目的の変更を行った場合には，変更後の目的について，当社所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</p>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第5条（個人情報の第三者提供）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
      <div class="pl-10">
        <p class="mt-2 text-base text-gray-800">1. 人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</p>
        <p class="mt-2 text-base text-gray-800">2. 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</p>
        <p class="mt-2 text-base text-gray-800">3. 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</p>
        <p class="mt-2 text-base text-gray-800">4. 予め次の事項を告知あるいは公表し，かつ当社が個人情報保護委員会に届出をしたとき</p>
        <div class="pl-5">
          <p class="mt-2 text-base text-gray-800">・利用目的に第三者への提供を含むこと</p>
          <p class="mt-2 text-base text-gray-800">・第三者に提供されるデータの項目</p>
          <p class="mt-2 text-base text-gray-800">・第三者への提供の手段または方法</p>
          <p class="mt-2 text-base text-gray-800">・本人の求めに応じて個人情報の第三者への提供を停止すること</p>
          <p class="mt-2 text-base text-gray-800">・本人の求めを受け付ける方法</p>
        </div>
      </div>
      <p class="mt-2 pl-5 text-base text-gray-800">前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。</p>
      <div class="pl-10">
        <p class="mt-2 text-base text-gray-800">1. 当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</p>
        <p class="mt-2 text-base text-gray-800">2. 合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
        <p class="mt-2 text-base text-gray-800">3. 個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合</p>
      </div>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第6条（著作権）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">ユーザーは，自ら著作権等の必要な知的財産権を有するか，または必要な権利者の許諾を得た文章，画像や映像等の情報に関してのみ，本サービスを利用し，投稿ないしアップロードすることができるものとします。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">ユーザーが本サービスを利用して投稿ないしアップロードした文章，画像，映像等の著作権については，当該ユーザーその他既存の権利者に留保されるものとします。ただし，当社は，本サービスを利用して投稿ないしアップロードされた文章，画像，映像等について，本サービスの改良，品質の向上，または不備の是正等ならびに本サービスの周知宣伝等に必要な範囲で利用できるものとし，ユーザーは，この利用に関して，著作者人格権を行使しないものとします。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">前項本文の定めるものを除き，本サービスおよび本サービスに関連する一切の情報についての著作権およびその他の知的財産権はすべて当社または当社にその利用を許諾した権利者に帰属し，ユーザーは無断で複製，譲渡，貸与，翻訳，改変，転載，公衆送信（送信可能化を含みます。），伝送，配布，出版，営業使用等をしてはならないものとします。</p>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第7条（利用制限および登録抹消）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，ユーザーが以下のいずれかに該当する場合には，事前
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，投稿データを削除し，ユーザーに対して本サービスの全部もしくは一部の利用を制限しまたはユーザーとしての登録を抹消することができるものとします。</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・本規約のいずれかの条項に違反した場合</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・登録事項に虚偽の事実があることが判明した場合</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・決済手段として当該ユーザーが届け出たクレジットカードが利用停止となった場合</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・料金等の支払債務の不履行があった場合</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・当社からの連絡に対し，一定期間返答がない場合</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・本サービスについて，最終の利用から一定期間利用がない場合</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・その他，当社が本サービスの利用を適当でないと判断した場合</p>
      <p class="mt-2 pl-5 text-base text-gray-800">前項各号のいずれかに該当した場合，ユーザーは，当然に当社に対する一切の債務について期限の利益を失い，その時点において負担する一切の債務を直ちに一括して弁済しなければなりません。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</p>
    </div>
        
    <div class="mt-5">
      h3 class="text-lg font-bold leading-6 text-gray-900">第8条（退会）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">ユーザーは，当社の定める退会手続により，本サービスから退会できるものとします。</p>
    </div>
        
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第9条（保証の否認および免責事項）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，本サービスに起因してユーザーに生じたあらゆる損害について、当社の故意又は重過失による場合を除き、一切の責任を負いません。ただし，本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">前項ただし書に定める場合であっても，当社は，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</p>
    </div>
        
    <div class="mt-5">
      <h3 class="text-lg leading-6 text-gray-900">第10条（サービス内容の変更等）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は，ユーザーへの事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。</p>
    </div>
    <div class="mt-5">
      <h3 class="text-lg leading-6 text-gray-900">第11条（利用規約の変更）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">当社は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・本規約の変更がユーザーの一般の利益に適合するとき。</p>
      <p class="mt-2 pl-10 text-base text-gray-800">・本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">当社はユーザーに対し、前項による本規約の変更にあたり、事前に、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を通知します。</p>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第12条（個人情報の取扱い）</h3>
      p class="mt-2 pl-5 text-base text-gray-800">当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。</p>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第13条（通知または連絡）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。当社は,ユーザーから,当社が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。</p>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第14条（権利義務の譲渡の禁止）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
    </div>
      
    <div class="mt-5">
      <h3 class="text-lg font-bold leading-6 text-gray-900">第15条（準拠法・裁判管轄）</h3>
      <p class="mt-2 pl-5 text-base text-gray-800">本規約の解釈にあたっては，日本法を準拠法とします。</p>
      <p class="mt-2 pl-5 text-base text-gray-800">本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</p>
    </div>
  </div>
</div>

