<header class="flex h-16 items-center justify-between bg-customred text-white">
  <div class="text-2xl font-bold ml-6">
    <%= link_to 'あんこねくと', root_path, class: 'text-xl font-bold hover:text-gray-400' %>
  </div>

  <div class="md:flex text-base space-x-6 mx-6">
    <%= link_to '新規登録', new_user_path, class: 'hover:text-gray-400' %>
    <%= link_to 'ログイン', login_path, class: 'hover:text-gray-400' %>
  </div>
</header>
