<footer class="bg-customred text-neutral-content flex h-20 flex-col items-center py-5">
  <div class="flex items-center text-base text-white space-x-8">
    <%= link_to '利用規約', terms_of_service_path, class: 'block px-4 py-2 hover:text-gray-400' %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'block px-4 py-2 hover:text-gray-400' %>
    <a href="#" class="hover:text-gray-400">お問い合わせ</a>
  </div>
</footer>