<footer class="bg-customred text-neutral-content flex h-20 flex-col items-center py-5">
  <div class="flex items-center text-base text-white space-x-8">
    <%= link_to '利用規約', terms_of_service_path, class: 'block px-4 py-2 hover:text-gray-400' %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'block px-4 py-2 hover:text-gray-400' %>
    <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSc2fjvEwNrNKp94YgWLQCYTx4mz-bVYslkUdTj2CzBuZgxtOA/viewform?usp=sf_link', class: 'block px-4 py-2 hover:text-gray-400' %>
  </div>
</footer>