<footer class="bg-customred text-neutral-content flex h-20 flex-col items-center py-5">
  <div class="flex items-center text-base text-white space-x-8">
    <a href="#" class="hover:text-gray-400">利用規約</a>
    <a href="#" class="hover:text-gray-400">プライバシーポリシー</a>
    <a href="#" class="hover:text-gray-400">お問い合わせ</a>
  </div>
</footer>