<header class="flex h-16 items-center justify-between bg-customred px-10 py-4 text-white">
  <div class="text-xl font-bold">
    <a href="#" class="hover:text-gray-400">あんこねくと</a>
  </div>

  <div class="md:flex text-md space-x-8">
    <a href="#" class="hover:text-gray-400">探す</a>
    <a href="#" class="hover:text-gray-400">新規投稿</a>
    <a href="#" class="hover:text-gray-400">マイページ</a>
    <a href="#" class="hover:text-gray-400">ログアウト</a>
  </div>
</header>
